.products-banner {
  background-image: asset-url("shades-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;
  height: 380px;
}

.foundation-heading {
  padding-top: 10rem;
  text-align: center;
}

.products-container {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 3rem;
  width: 80%;
  margin: 0 auto;
  padding: 4rem;
}

.products-container-home {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 3rem;
  width: 80%;
  margin: 0 auto;
  padding: 4rem;
}

.products-card {
  flex-direction: column;
  background-color: $card-color;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.heart-icon {
  text-align: right;
  padding: 0.3rem;

  img {
    width: 20px;
    height: 20px;
  }
}

.image-price {
  display: flex;
  align-items: center;
  justify-content: center;
  // gap: 1.2rem;
  padding: 1rem;
  flex-direction: column;
}

.price-product {
  width: 70px;
  height: 70px;
  padding-top: 20px;
  border-radius: 50%;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  flex-direction: column;
  text-align: center;
}

.product-content {
  color: $secondary-color;
  padding: 0.5rem;
  text-align: center;
  .brand-name {
    margin-top: 1rem;
    a {
      color: $secondary-color;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}

.fav-delete-link-button {
  img {
    width: 20px;
  }
}
