.products-banner{
  background-image: asset-url("shades-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;
  height: 380px;

}

.foundation-heading{
  padding-top: 10rem;
  text-align: center;
}

.products-container{
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 3rem;
  width: 80%;
  margin: 0 auto;
  padding: 4rem;

  a{
    text-decoration: none;
  }
}

.products-container-home{
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 3rem;
  width: 80%;
  margin: 0 auto;
  padding: 4rem;

  a{
    text-decoration: none;
  }
}

.products-card {
  // height: 500px;
  flex-direction: column;
  background-color: $card-color;
  padding: 1rem;
  margin: 0 auto;
  margin: 0 auto;
  display: flex;

  justify-content: space-between;
  img{
    width: 100%;
    height: 100%;
  }
}

.heart-icon {
  text-align: right;
  padding: 0.3rem;

  img{
    width: 20px;
    height: 20px;
  }
}

.image-price{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.price-product{
  width: 70px;
  height: 70px;
  padding-top: 20px;
  border-radius: 50%;
  background-color: $secondary;

  justify-content: center;
  align-items: center;
  color: $white;
  flex-direction: column;
  text-align: center;
}

.product-content{
  color: #3f3f3f;
  display: flex;
  flex-direction: column;
  align-items: center;
  .brand-name{
    margin-top: 1rem;
   //font-size: 1rem;

    a{
      color: $secondary;
      font-size: 1.7rem;
    }
  }
}
