// .foundation-heading {
//   text-align: center;
// }

.products-container-cart {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5rem;
}

.products-card-card {
  padding: 2rem;
  overflow: hidden;
  background-color: #f3e2e2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  display: flex;
  // width: 60%;
  gap: 1.5rem;
  margin-bottom: 2rem;

  .card-img-top {
    height: 150px;
    width: 155px;
    object-fit: cover;
  }
}

.product-content {
  p {
    font-size: 1rem;
  }
}

.color-shades {
  li {
    width: 40px;
    height: 40px;
    list-style: none;
  }

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.price {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
}

.button-color {
  color: $white;
}

.link-button {
  width: 300px;
  color: $white;
}

.quantity-btn {
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
}

.delete-link-button {
  margin-left: 4rem;
  img {
    width: 20px;
  }
}

.cart-price {
  align-self: flex-start;
  // position: absolute;
  right: 0;
}

.cart-button {
  display: flex;
  gap: 3rem;
}

.empty-cart {
  img {
    height: 350px;
    width: 350px;
  }
}
