.product-card-container{
  padding:  25px 25px 25px 25px;

}
.product-heading {
  text-align: center;
  padding: 150px 25px 150px 25px;
  font-family: $shades-font;
}

.card-product {
  font-family: $shades-font;
  height: 500px;
  padding:  25px 25px 25px 25px;
  overflow: hidden;
  background-color: #F3E2E2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  display: flex;
  //justify-content: space-between;
}

.card-product img {
  height: 400px;
  width: 405px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 36px;
  margin: 15px;
}

.card-product p {
 // font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 26px;
}
