.product-card-container{
  padding:  5rem;
  display: flex;
  flex-direction: column;
}
.product-heading {
  text-align: center;
}

.product-card-container{
  padding:  5rem;

}

.card-product {
  padding:  25px 25px 25px 25px;
  overflow: hidden;
  background-color: #F3E2E2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  //justify-content: space-between;
}

.card-product img {
  height: 400px;
  width: 405px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 36px;
  margin: 15px;
}

.card-product p {
  font-weight:900;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 1.2rem;
}

.card-product .card-product-infos {
  padding: 26px;
}

.color-shades{
  width: 40%;
li{
  width:40px;
  height: 40px;
  list-style: none;
}

display: flex;
flex-wrap: wrap;
gap: 1rem;
}

.price{
  text-align: end;
  font-weight: 900;
}

.button-color{
 color: $white;
}

.link-button{
  width:300px;
  color: $white;
}

.show-price{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}

.products-button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
