.product-card-container{
  padding:  5rem;

}
.product-heading {
  text-align: center;
  margin: 2rem;
  font-family: $shades-font;
}

.card-product {
  font-family: $shades-font;
  padding:  25px 25px 25px 25px;
  overflow: hidden;
  background-color: #F3E2E2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  display: flex;
  //justify-content: space-between;
}

.card-product img {
  height: 400px;
  width: 405px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 36px;
  margin: 15px;
}

.card-product p {
  font-weight:900;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 1.2rem;
}

.card-product .card-product-infos {
  padding: 26px;
}

.color-shades{
li{
  width:40px;
  height: 40px;
  list-style: none;
}

display: flex;
flex-wrap: wrap;
gap: 1rem;
}

.price{
  text-align: end;
  font-weight: 900;
}
