#color-selector {
  position: absolute;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  cursor: move;
  z-index: 10;
  background-color: #2195f300;
  border: 2px solid #000000;
  color: #fff;
  bottom: 210px;
  left: 220px;
}

.color-picker{
  width:80%;
  padding-top: 6vh;
}

#shade-pick{
  padding-top:2rem;
  padding-bottom: 2rem;
  background-color:$card-color;
  justify-content: stretch;
}

// .image-color-selector-container{
//   display: flex;
//   align-items: center;

// }

.img-color{
  width: 30vw;
}

.image-container{
  padding:3rem;
}

.color-container{
  // display: flex;
  // align-items: center;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.form-upload {
  display: flex;
  justify-content: center;
  align-items: center;

  input[type=submit]{
    margin-bottom: 1rem;
  }
}

.color-bg{
  background-color: #f0dcdc;
  padding: 2rem;
}

.image-color-selector-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:$card-color;
  padding: 2rem;
  margin: 2rem;
}

.button-black {
  height: 55px;
  margin-top: -7px;
  width: 156px;
}

.user-image-placeholder{
  width: 300px;
  height: 300px;
}
