#color-selector {
  position: absolute;
  height: 30px;
  width: 30px;
  cursor: move;
  z-index: 10;
  background-color: #2195f300;
  border: 2px solid #000000;
  color: #fff;
  top: 200px;
  left: 200px;
}

.color-picker{
  width:80%;
  padding-top: 6vh;
}

#shade-pick{
  padding-top:2rem;
  padding-bottom: 2rem;
  background-color:$card-color;
  width:40vw;
  height:40vw;
  justify-content: stretch;
}

// .image-color-selector-container{
//   display: flex;
//   align-items: center;

// }

.img-color{
  width: 40vw;
}

.image-container{
  padding:3rem;
}

.color-container{
  // display: flex;
  // align-items: center;
}
