<div class="dropdown" style="margin-top: 5%; margin-left: 15%;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose your Shade
  </button>


  <div class="dropdown-menu color-dropdown" aria-labelledby="dropdownMenuButton">
    <% unless @color_shades.nil? %>
      <% @color_shades.each do |shade| %>
        <%= link_to color_shade_sub_products_path(shade) do %>
          <div class="color-picker" style="background: <%= shade.shade_hex %>;"></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
