<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Fondations
  </button>
  <div class="dropdown-menu color-dropdown" aria-labelledby="dropdownMenuButton">
    <a href="#"><div class="color-picker monk1"></div></a>
    <a href="#"><div class="color-picker monk2"></div></a>
    <a href="#"><div class="color-picker monk3"></div></a>
    <a href="#"><div class="color-picker monk4"></div></a>
    <a href="#"><div class="color-picker monk5"></div></a>
    <a href="#"><div class="color-picker monk6"></div></a>
    <a href="#"><div class="color-picker monk7"></div></a>
    <a href="#"><div class="color-picker monk8"></div></a>
    <a href="#"><div class="color-picker monk9"></div></a>
    <a href="#"><div class="color-picker monk10"></div></a>
  </div>
</div>
