<div>
<div class="footer-info">
  <div class="about">
    <a href="#"><p>About US</p></a>
    <a href="#"><p>Career</p></a>
    <a href="#"><p>FQS</p></a>
  </div>
  <div class="support">
    <a href="#"><p>Support</p></a>
    <a href="#"><p>Contact</p></a>
  </div>
  <div class="address">
    <p>Some straße </p>
    <p>Berlin 12345</p>
    <p>Germany</p>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>
    © 2023 Shades Inc.    |    Terms & Conditions    |    Privacy policy
    </p>
  </div>
</div>
</div>
