<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-navbar-target="banner" data-bs-interval="3000">
  <div class="carousel-inner">
    <div class="carousel-item banner active" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("home-background.jpg") %>);">
      <div class="banner-content">
        <h1 class=banner-heading>SHADES</h1>
        <p>“Enhance your natural beauty”</p>
      </div>
      <%= link_to my_shades_path do %>
      <div class="banner-cta">
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h2>Start your journey, find the perfect shade for you.</h2>
      </div>
      <% end %>
    </div>
    <div class="carousel-item banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("home-background-2.jpg") %>);">
      <div class="banner-content">
        <h1 class=banner-heading>SHADES</h1>
        <p>“Enhance your natural beauty”</p>
      </div>
      <%= link_to my_shades_path do %>
      <div class="banner-cta">
          <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
          </div>
        <h2>Start your journey, find the perfect shade for you.</h2>
      </div>
      <% end %>
    </div>
  </div>
</div>
