.navbar-lewagon {
  position: fixed;
  height: 11vh;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
}

.navbar-transparent-background {
  background-color: rgba($color: $card-color, $alpha: 0.3);
  transition: 0.5s background-color ease;
}

.navbar-background {
  background-color: rgba($color: $card-color, $alpha: 1);
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.nav-cart {
  width: 30px;
}

.nav-item {
  justify-content: space-between;
  margin-right: 15px;
  display: flex !important;

}

.img.logo {
  width: 30px;
}

.form-control {
  background-color: transparent;
  border-bottom: black;
  text-decoration: solid;
  //background-color: red;
  text-decoration: solid;
  border: none;
  border-bottom: 1px solid black;
}

.search-img {
  width: 40px;
}

.color-dropdown {
  background-color: transparent;
  text-decoration-line: none;
  justify-content: space-between;
}

.color-picker{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

.monk1 {
  background-color: #f6ede4;
}

.monk2 {
  background-color: #f3e7db;
}

.monk3 {
  background-color: #f7ead0;
}

.monk4 {
  background-color: #eadaba;
}

.monk5 {
  background-color: #d7bd96;
}

.monk6 {
  background-color: #a07e56;
}

.monk7 {
  background-color: #825c43;
}

.monk8 {
  background-color: #604134;
}

.monk9 {
  background-color: #3a312a;
}

.monk10 {
  background-color: #292420;
}
