.navbar-lewagon {
  position: fixed;
  height: 11vh;
  width: 100%;
  background-color: rgba($color: $card-color, $alpha: 0.3);
  justify-content: space-between;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.nav-cart{
  width: 30px;
}

.nav-item{
  margin-right: 15px;
  display: flex !important;
}

.img.logo{
  width: 30px;
}

.form-control {
  border-bottom: black;
  text-decoration: solid;
  //background-color: red;
  text-decoration: solid;
  border: none;
  border-bottom: 1px solid black;

}

.search-img{
  width: 30px;

}
