.navbar-lewagon {
  height: 11vh;
  justify-content: space-between;
  background-color: #F3E2E2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.nav-cart{
  width: 30px;
}

.nav-item{
  margin-right: 15px;
  display: flex !important;
}
