// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/core_layout";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.shoppingCardCirle {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -10px;
  display: none;
  text-align: center;
  background-color: #ebaeae;
  border-radius: 79%;
  text-align: center;
}

.shoppingcard_image_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
