<h2> Select your shade </h2>
<ul style="display: flex; flex-wrap: wrap; list-style-type: none;">
  <% @color_shades.each do |shade| %>
    <%= link_to color_shade_sub_products_path(shade) do %>
      <li style="margin: 5px; height: 40px; width: 40px; background: <%= shade.shade_hex %>;"> </li>
    <% end %>
  <% end %>
</ul>
