<h1 class="product-heading"><%=@product.product_name %></h1>

<div class="product-card-container">
  <div class="card-product">
    <%= image_tag @product.img_main%>
    <div class="card-product-infos">
      <h2>Preis: 30$</h2>
      <h2>Shade: Warm color</h2>
      <h2>Reviews</h2>
      <h2>5.0/5</h2>
    </div>
  </div>
</div>
